*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
.area-top,
.area-center,
.area-bottom{
  text-align: center;
}
.logo{
  height: 238px;
  display: inline-block;
  width: 317px;
}
[class*="btn"]{
  background-color: #73b123;
  box-shadow: 0px 3px 0px #598f14, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -webkit-box-shadow: 0px 3px 0px #598f14, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 3px 0px #598f14, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;
}
[class*="btn"]:active{
  box-shadow: 0px 2px 0px #598f14, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -webkit-box-shadow: 0px 2px 0px #598f14, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 2px 0px #598f14, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

  border: none;
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}

.btn-default{
  background-color: #9f9e9e;

  box-shadow: 0px 3px 0px #7e7c7c, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -webkit-box-shadow: 0px 3px 0px #7e7c7c, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 3px 0px #7e7c7c, 0px 3px 5px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}

.btn-default:active{
  box-shadow: 0px 2px 0px #7e7c7c, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -webkit-box-shadow: 0px 2px 0px #7e7c7c, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 2px 0px #7e7c7c, 0px 1px 3px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}
.title{
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 12px;
}
.title strong{
  font-weight: 400;
}
.area-top .title{
  font-size: 3.75rem;
  font-weight: 700;
}
.area-top .btn{
  margin: 25px 0;
}
.area-center{
  background: url(../images/bg.jpg) no-repeat 0 0;
  background-size: 100%;
  margin: 30px 0;
  min-height: 430px;
  position: relative;
}
.area-center .content{
  content: "";
  background-color: rgba(0,0,0,.8);
  color: #b0afaf;
  bottom: 0;
  padding: 30px 0;
  height: 150px;
  left: 0;
  position: absolute;
  width: 100%;
}
.area-center .title{
  font-size: 2.25rem;
}
.area-center a{
  color: #fff;
  text-transform: none;
}

.area-bottom{
  position: relative;
}
.area-bottom .content{
  background-color: #c22f35;
  color: #fff;
  margin-top: 50px;
  padding: 20px 0;
}
.area-bottom .content a{
  display: inline-block;
  margin-top: 25px;
}
.area-bottom br{display: none;}
[class*="ico"]{
  background: url(../images/social.png) no-repeat 0 0;
  display: inline-block;
  margin: 30px 20px;
  height: 34px;
  text-indent: -99999px;
  width: 34px;
}
.ico-tw{
  background-position: -36px 0;
}
#map{
  height: 450px;
  margin: 30px 0;
}
.maps-frontinsampa{
  background: url(http://frontinsampa.com.br/images/touch-icon-iphone.png) no-repeat 0 0;
  height: 57px;
  width: 57px;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 767px) {
  .logo{
    height: 210px;
    width: 250px;
  }
  .title{
    font-size: 1.25rem;
  }
  .area-top .title{
    display: none;
  }
  .area-center{
    background: none;
    min-height: 270px;
  }
  .area-center .content{
    height: 260px;
  }
  .map-content iframe{
    margin: 15px 0px;
  }
  .area-bottom br{display: block;}
}
