/* line 1, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_reset.sass */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_reset.sass */
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_reset.sass */
ul, ol {
  list-style: none; }

@media screen and (min-width: 992px) {
  /* line 2, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
  .area-intro {
    -moz-transition: all 0.85s;
    -o-transition: all 0.85s;
    -webkit-transition: all 0.85s;
    transition: all 0.85s;
    -moz-transform:  scale(5, 5) rotateZ(45deg);
    -ms-transform:  scale(5, 5) rotateZ(45deg);
    -webkit-transform:  scale(5, 5) rotateZ(45deg);
    transform:  scale(5, 5) rotateZ(45deg);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 13; }
    /* line 11, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
    .menu-fixed .area-intro {
      -moz-transition: all 0.85s;
      -o-transition: all 0.85s;
      -webkit-transition: all 0.85s;
      transition: all 0.85s;
      pointer-events: none; }
    /* line 15, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
    .area-intro:before, .area-intro:after {
      content: "";
      background: white;
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      z-index: 12; }
    /* line 25, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
    .area-intro:before {
      -moz-transition: all 0.85s;
      -o-transition: all 0.85s;
      -webkit-transition: all 0.85s;
      transition: all 0.85s;
      left: 0; }
      /* line 29, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
      .menu-fixed .area-intro:before {
        -moz-transition: all 0.85s;
        -o-transition: all 0.85s;
        -webkit-transition: all 0.85s;
        transition: all 0.85s;
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0); }
    /* line 33, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
    .area-intro:after {
      -moz-transition: all 0.85s;
      -o-transition: all 0.85s;
      -webkit-transition: all 0.85s;
      transition: all 0.85s;
      right: 0; }
      /* line 37, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_intro.sass */
      .menu-fixed .area-intro:after {
        -moz-transition: all 0.85s;
        -o-transition: all 0.85s;
        -webkit-transition: all 0.85s;
        transition: all 0.85s;
        -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0); } }
/* line 1, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

/* line 5, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
body {
  color: white;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 16, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
p {
  margin-bottom: 10px; }

/* line 19, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
a {
  color: white;
  text-decoration: none; }

/* line 23, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
img {
  max-width: 100%; }

/* line 26, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.container {
  margin: 0 auto;
  width: 90%;
  text-align: center; }

/* line 31, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
[class*="btn"] {
  color: white;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase; }
  /* line 39, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  [class*="btn"].btn-send {
    -moz-box-shadow: 0px 0px 0px 3px rgba(76, 114, 27, 0.7);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(76, 114, 27, 0.7);
    box-shadow: 0px 0px 0px 3px rgba(76, 114, 27, 0.7);
    background: #649624;
    font-size: 2rem; }

/* line 45, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
[class*="title"] {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif; }

/* line 50, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.title {
  color: #fceea3;
  font-weight: 300;
  font-size: 3.5rem;
  text-shadow: 0 0 30px #ff2424;
  margin-bottom: 25px; }

/* line 58, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
/* line 63, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.clearfix:after {
  clear: both; }

/* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

/* line 75, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.area-main {
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background: white;
  min-height: 100%;
  margin-left: 0;
  z-index: 10;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch; }

/* line 89, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-info,
#area-description {
  background: #c8282e;
  color: white;
  padding: 50px 0; }
  /* line 95, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-info .title-info,
  #area-description .title-info {
    font-size: 3.1rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
    /* line 100, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
    #area-info .title-info span,
    #area-description .title-info span {
      color: #210102;
      display: block; }
  /* line 103, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-info p,
  #area-description p {
    font-size: 1.6rem; }
  /* line 106, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-info .sub-title,
  #area-description .sub-title {
    font-weight: 700;
    font-size: 2rem; }

/* line 110, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-info {
  padding: 80px 0; }

/* line 114, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-local {
  background: url(../images/bg-sampa-xs.jpg) no-repeat 0 0;
  background-size: 100%;
  padding: 55px 0; }
  /* line 119, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-local p {
    font-size: 1.6rem;
    font-weight: 700; }

/* line 124, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.btn {
  background: #4e060b;
  color: white;
  display: inline-block;
  margin: 20px 10px;
  padding: 10px 25px;
  font-size: 1.6rem; }

/* line 133, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.hide-mobile {
  display: none; }

/* line 136, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.show-mobile {
  display: block; }

/* line 140, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
.btn-dark {
  background: rgba(28, 28, 28, 0.8);
  color: #b0212f;
  font-size: 2.4rem;
  padding: 8px 15px;
  margin: 10px 0; }

/* line 148, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-sponsor {
  background: white;
  padding: 50px 0; }
  /* line 152, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-sponsor .title-sponsor {
    color: #ac1f2d;
    font-size: 3.1rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 30px; }
    /* line 159, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
    #area-sponsor .title-sponsor:first-child {
      padding-top: 0; }
  /* line 163, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-sponsor .sub-title {
    color: #1c1c1c;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    margin: 40px 0; }
  /* line 170, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-sponsor li {
    display: inline-block;
    margin: 0 25px; }
    /* line 174, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
    #area-sponsor li .sub-title {
      margin: 0 0 15px; }

/* line 177, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-contact {
  background: #1e1e1e;
  padding: 30px 0; }
  /* line 181, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-contact .sub-title {
    font-weight: 400;
    font-size: 2rem; }
  /* line 185, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-contact a {
    font-size: 1.6rem;
    display: inline-block;
    margin: 20px 0; }

/* line 191, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
#area-footer {
  background: #2c2c2b;
  padding: 30px 0;
  font-size: 1.1rem; }
  /* line 196, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-footer a {
    font-weight: bold; }

@media screen and (min-width: 401px) {
  /* line 201, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  .hide-mobile {
    display: block; }

  /* line 204, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-local {
    background: url(../images/bg-sampa-md.jpg) no-repeat 0 0; }
    /* line 207, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
    #area-local p {
      font-size: 2.5rem; } }
@media screen and (min-width: 768px) {
  /* line 219, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  .btn-dark {
    font-size: 3.1rem;
    padding: 8px 25px; }

  /* line 223, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  .btn {
    margin: 35px 10px;
    padding: 10px 80px;
    font-size: 2rem; } }
@media screen and (min-width: 992px) {
  /* line 233, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-local {
    background: url(../images/bg-sampa-lg.jpg) no-repeat 0 0; }

  /* line 240, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-info .title-info span,
  #area-description .title-info span {
    display: inline-block;
    margin-left: 7px; }

  /* line 244, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  .title {
    padding-top: 40px; }

  /* line 247, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_base.sass */
  #area-sponsor .title-sponsor {
    padding-top: 50px; } }
/* line 1, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
.area-top {
  background: url(../images/header-mobile.jpg) no-repeat 0 bottom #080808;
  background-size: 100%;
  padding-bottom: 40px;
  text-align: center;
  min-height: 420px;
  padding-top: 200px;
  text-transform: uppercase; }
  /* line 10, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .area-top .date {
    color: white;
    font-size: 2.4rem;
    font-weight: 700; }
  /* line 15, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .area-top .title {
    margin-top: 5px;
    padding-top: 0; }

/* line 20, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
.btn-send {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 250px;
  left: 50%;
  top: 330px;
  margin-left: -90px;
  z-index: 12; }
  /* line 30, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .menu-visible .btn-send {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0); }

/* line 34, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
.logo {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 240px;
  width: 305px;
  left: 50%;
  margin-left: -153px;
  position: absolute;
  top: 0;
  z-index: 12; }
  /* line 45, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .menu-visible .logo {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0); }

/* line 49, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
.ico-menu {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: block;
  padding-left: 1.25em;
  text-indent: -99999px;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 10px;
  left: 8px;
  z-index: 21; }
  /* line 62, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .menu-visible .ico-menu {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0); }
  /* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .ico-menu:before {
    content: "";
    position: absolute;
    left: 5%;
    top: 1.5rem;
    width: 3rem;
    height: 0.16em;
    background: #cccccc;
    box-shadow: 0 1.8rem 0 0 #cccccc, 0 0.9rem 0 0 #cccccc;
    font-size: 24px; }

@media screen and (min-width: 992px) {
  /* line 81, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .area-top {
    background: url(../images/header-md.jpg) no-repeat 0 bottom #030102;
    background-size: 100%;
    min-height: 500px;
    position: relative;
    padding-top: 0; }
    /* line 88, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
    .area-top:before {
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      height: 115px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
    /* line 97, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
    .area-top .info-main {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%; }
      /* line 103, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
      .area-top .info-main .date {
        display: inline-block;
        font-size: 3rem;
        margin-right: 80px;
        position: relative;
        top: -5px; }
      /* line 110, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
      .area-top .info-main .title {
        display: inline-block;
        position: relative; }
        /* line 114, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
        .area-top .info-main .title:before, .area-top .info-main .title:after {
          content: "";
          border-bottom: 4px double #ba272c;
          width: 50px;
          top: 25px;
          height: 2px;
          position: absolute; }
        /* line 123, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
        .area-top .info-main .title:before {
          left: -65px; }
        /* line 126, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
        .area-top .info-main .title:after {
          right: -65px; }

  /* line 130, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .area-fixed {
    position: fixed;
    z-index: 11;
    width: 100%; }
    /* line 135, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
    .menu-fixed .area-fixed {
      height: 90px;
      background: rgba(0, 0, 0, 0.8); }

  /* line 140, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .btn-send {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    position: fixed;
    top: 70px;
    right: 40px;
    left: auto;
    padding: 10px 30px; }
    /* line 149, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
    .menu-fixed .btn-send {
      top: 20px; }

  /* line 152, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .ico-menu {
    display: none; }

  /* line 155, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .logo {
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    height: 90%;
    left: 50%;
    margin-left: -25%;
    position: absolute;
    pointer-events: none;
    top: -30px;
    width: 50%;
    z-index: 15; }
    /* line 166, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
    .menu-fixed .logo {
      -moz-transition: all 0.7s;
      -o-transition: all 0.7s;
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
      height: 240px;
      left: 5%;
      margin-left: 0;
      position: fixed;
      width: 175px;
      top: -75px; } }
@media screen and (min-width: 1500px) {
  /* line 178, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_header.sass */
  .area-menu li a {
    font-size: 2.4rem; } }
/* line 1, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
.area-menu {
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: -moz-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  background: #222222;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; }
  /* line 13, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
  .area-menu li {
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    color: #878787;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; }
    /* line 23, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
    .area-menu li.show-mobile a {
      color: #80c824; }
    /* line 26, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
    .area-menu li a {
      display: block;
      padding: 20px;
      text-shadow: 2px 1px black; }
      /* line 31, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
      .area-menu li a:hover, .area-menu li a:focus, .area-menu li a:active {
        color: #cccccc; }

/* line 38, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
.menu-visible .area-main {
  -moz-transform: translate(250px, 0);
  -ms-transform: translate(250px, 0);
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0); }
/* line 41, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
.menu-visible .area-menu {
  z-index: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch; }

@media screen and (min-width: 992px) {
  /* line 52, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
  .area-menu {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    width: 100%;
    background: none;
    position: absolute;
    left: 25%;
    top: 60px;
    z-index: 12;
    height: auto;
    width: auto; }
    /* line 68, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
    .menu-fixed .area-menu {
      position: fixed;
      top: 10px; }
    /* line 72, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
    .area-menu li {
      display: inline-block;
      border: none;
      font-size: 2rem;
      font-weight: 400;
      padding: 20px 15px; }
      /* line 79, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
      .area-menu li.show-mobile {
        display: none; }
      /* line 82, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
      .area-menu li a {
        padding: 0;
        display: inline; } }
@media screen and (min-width: 1200px) {
  /* line 88, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_menu.sass */
  .area-menu li {
    padding: 20px 25px; } }
/* line 1, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
#area-timeline {
  background: url(../images/bg-fire-top.jpg) repeat-x #181818;
  padding: 80px 0 120px;
  position: relative; }
  /* line 6, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline:after {
    content: "";
    background: url(../images/bg-fire-bottom.jpg) repeat-x;
    height: 83px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  /* line 17, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline .list-timeline {
    position: relative;
    left: 47%;
    margin-bottom: 50px;
    width: 52%; }
    /* line 23, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
    #area-timeline .list-timeline li {
      border-left: 4px solid #464646;
      color: #cccccc;
      font-size: 1.6rem;
      min-height: 115px;
      padding-left: 20px;
      position: relative;
      text-align: left;
      padding-bottom: 50px; }
      /* line 33, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li a {
        color: #cccccc; }
      /* line 36, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li:before {
        content: "";
        border-radius: 50%;
        border: 6px solid #ba272c;
        background: #e8c78a;
        height: 21px;
        position: absolute;
        top: 0;
        left: -12px;
        width: 21px; }
      /* line 47, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li:last-child {
        padding-bottom: 0; }
        /* line 50, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
        #area-timeline .list-timeline li:last-child:before {
          top: auto;
          bottom: 0; }
        /* line 54, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
        #area-timeline .list-timeline li:last-child .talk-time,
        #area-timeline .list-timeline li:last-child p {
          position: relative;
          top: 25px; }
      /* line 59, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li .box-spearker {
        position: absolute;
        top: -25px;
        left: -170px;
        text-align: right;
        width: 140px; }
        /* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
        #area-timeline .list-timeline li .box-spearker p {
          top: 0; }
  /* line 69, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline .sub-title {
    color: white;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif; }
  /* line 74, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline img {
    border-radius: 50%;
    border: 5px solid #ba272c;
    margin-bottom: 5px;
    width: 75px; }
  /* line 81, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline .talk-time {
    color: white; }

/* line 84, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
.hide-mobile {
  display: none; }

@media screen and (min-width: 401px) {
  /* line 89, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  .hide-mobile {
    display: block; }

  /* line 95, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline .list-timeline {
    position: relative;
    left: 50%;
    width: 50%; }
    /* line 100, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
    #area-timeline .list-timeline li {
      padding-bottom: 100px;
      min-height: 300px; }
      /* line 104, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li .box-spearker {
        left: -230px;
        width: 200px; }
      /* line 108, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li:first-child, #area-timeline .list-timeline li:last-child {
        min-height: 75px; } }
@media screen and (min-width: 992px) {
  /* line 116, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
  #area-timeline .list-timeline {
    margin-bottom: 200px; }
    /* line 119, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
    #area-timeline .list-timeline li {
      padding-bottom: 125px;
      padding-right: 50px; }
      /* line 123, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
      #area-timeline .list-timeline li .box-spearker {
        left: -330px;
        width: 300px; }
    /* line 127, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
    #area-timeline .list-timeline img {
      width: 150px; }
    /* line 130, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_timeline.sass */
    #area-timeline .list-timeline .sub-title {
      font-size: 1.6rem; } }
/* line 2, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
.animate-flasher {
  opacity: 0;
  -webkit-animation: flasher 5.15s infinite;
  animation: flasher 5.15s infinite;
  -moz-animation: flasher 5.15s infinite; }

@-webkit-keyframes flasher {
  /* line 9, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    opacity: 0; }

  /* line 11, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  2% {
    opacity: 1; }

  /* line 13, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  4% {
    opacity: 0; }

  /* line 15, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    opacity: 0; } }
@-moz-keyframes flasher {
  /* line 19, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    opacity: 0; }

  /* line 21, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  2% {
    opacity: 1; }

  /* line 23, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  4% {
    opacity: 0; }

  /* line 25, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    opacity: 0; } }
@keyframes flasher {
  /* line 29, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    opacity: 0; }

  /* line 31, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  2% {
    opacity: 1; }

  /* line 33, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  4% {
    opacity: 0; }

  /* line 35, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    opacity: 0; } }
/* line 39, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
.animate-swing {
  -moz-animation: swing 2.15s infinite;
  -webkit-animation: swing 2.15s infinite;
  animation: swing 2.15s infinite; }

@-moz-keyframes swing {
  /* line 43, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 47, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  50% {
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
    -moz-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }

  /* line 51, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-webkit-keyframes swing {
  /* line 43, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 47, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }

  /* line 51, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes swing {
  /* line 43, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  /* line 47, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  50% {
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -moz-transform: translate(5px, -5px);
    -ms-transform: translate(5px, -5px);
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }

  /* line 51, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  100% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@media screen and (min-width: 992px) {
  /* line 59, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-scale {
    -moz-animation: scale 1s ease-in-out;
    -webkit-animation: scale 1s ease-in-out;
    animation: scale 1s ease-in-out;
    -moz-transform-origin: 45%;
    -webkit-transform-origin: 45%;
    transform-origin: 45%; }

  @-moz-keyframes scale {
    /* line 64, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1); }

    /* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: scale(1, 1);
      transform: scale(1, 1); } }
  @-webkit-keyframes scale {
    /* line 64, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -webkit-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1); }

    /* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); } }
  @keyframes scale {
    /* line 64, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      -webkit-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1); }

    /* line 66, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); } }
  /* line 70, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-left {
    -moz-animation: posLeft 1s ease-in-out;
    -webkit-animation: posLeft 1s ease-in-out;
    animation: posLeft 1s ease-in-out; }

  /* line 73, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-left-2 {
    -moz-animation: posLeft 0.7s ease-in-out;
    -webkit-animation: posLeft 0.7s ease-in-out;
    animation: posLeft 0.7s ease-in-out; }

  @-moz-keyframes posLeft {
    /* line 77, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(-1000%, 0);
      transform: translate(-1000%, 0); }

    /* line 79, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @-webkit-keyframes posLeft {
    /* line 77, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -webkit-transform: translate(-1000%, 0);
      transform: translate(-1000%, 0); }

    /* line 79, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @keyframes posLeft {
    /* line 77, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(-1000%, 0);
      -ms-transform: translate(-1000%, 0);
      -webkit-transform: translate(-1000%, 0);
      transform: translate(-1000%, 0); }

    /* line 79, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  /* line 83, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-right {
    -moz-animation: posRight 0.7s ease-in-out;
    -webkit-animation: posRight 0.7s ease-in-out;
    animation: posRight 0.7s ease-in-out; }

  /* line 86, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-right-2 {
    -moz-animation: posRight 1s ease-in-out;
    -webkit-animation: posRight 1s ease-in-out;
    animation: posRight 1s ease-in-out; }

  @-moz-keyframes posRight {
    /* line 90, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(1500%, 0);
      transform: translate(1500%, 0); }

    /* line 92, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @-webkit-keyframes posRight {
    /* line 90, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -webkit-transform: translate(1500%, 0);
      transform: translate(1500%, 0); }

    /* line 92, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @keyframes posRight {
    /* line 90, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(1500%, 0);
      -ms-transform: translate(1500%, 0);
      -webkit-transform: translate(1500%, 0);
      transform: translate(1500%, 0); }

    /* line 92, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  /* line 96, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom {
    -moz-animation: posBottom 0.35s ease-in-out;
    -webkit-animation: posBottom 0.35s ease-in-out;
    animation: posBottom 0.35s ease-in-out; }

  /* line 99, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-2 {
    -moz-animation: posBottom 0.45s ease-in-out;
    -webkit-animation: posBottom 0.45s ease-in-out;
    animation: posBottom 0.45s ease-in-out; }

  /* line 102, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-3 {
    -moz-animation: posBottom 0.55s ease-in-out;
    -webkit-animation: posBottom 0.55s ease-in-out;
    animation: posBottom 0.55s ease-in-out; }

  /* line 105, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-4 {
    -moz-animation: posBottom 0.65s ease-in-out;
    -webkit-animation: posBottom 0.65s ease-in-out;
    animation: posBottom 0.65s ease-in-out; }

  /* line 108, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-5 {
    -moz-animation: posBottom 0.75s ease-in-out;
    -webkit-animation: posBottom 0.75s ease-in-out;
    animation: posBottom 0.75s ease-in-out; }

  /* line 111, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-6 {
    -moz-animation: posBottom 0.85s ease-in-out;
    -webkit-animation: posBottom 0.85s ease-in-out;
    animation: posBottom 0.85s ease-in-out; }

  /* line 114, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-7 {
    -moz-animation: posBottom 0.95s ease-in-out;
    -webkit-animation: posBottom 0.95s ease-in-out;
    animation: posBottom 0.95s ease-in-out; }

  /* line 117, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-8 {
    -moz-animation: posBottom 1.05s ease-in-out;
    -webkit-animation: posBottom 1.05s ease-in-out;
    animation: posBottom 1.05s ease-in-out; }

  /* line 120, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
  .animate-bottom-9 {
    -moz-animation: posBottom 1.15s ease-in-out;
    -webkit-animation: posBottom 1.15s ease-in-out;
    animation: posBottom 1.15s ease-in-out; }

  @-moz-keyframes posBottom {
    /* line 124, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(25px, 122px);
      transform: translate(25px, 122px); }

    /* line 126, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @-webkit-keyframes posBottom {
    /* line 124, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -webkit-transform: translate(25px, 122px);
      transform: translate(25px, 122px); }

    /* line 126, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  @keyframes posBottom {
    /* line 124, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    from {
      -moz-transform: translate(25px, 122px);
      -ms-transform: translate(25px, 122px);
      -webkit-transform: translate(25px, 122px);
      transform: translate(25px, 122px); }

    /* line 126, /Users/deividmarques/Personal/fis2014/source/stylesheets/style/_animate_svg.sass */
    to {
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } } }
/*

*/

