.colors-left,
.colors-right {
  position: absolute;
  width: 45%;
  z-index: 1; }
  .colors-left i,
  .colors-right i {
    position: relative;
    display: inline-block;
    height: 29px;
    border-radius: 4rem;
    width: 6%;
    margin-left: 14px;
    margin-right: 14px; }
    @media screen and (min-width: 640px) {
      .colors-left i,
      .colors-right i {
        min-width: 29px; } }
  .colors-left div,
  .colors-right div {
    margin-bottom: 25px; }
    .colors-left div:last-child,
    .colors-right div:last-child {
      margin-bottom: 0; }

.colors-left {
  text-align: left;
  left: -50px;
  opacity: .2;
  width: 120%; }
  .info .colors-left {
    bottom: 30px;
    z-index: 1; }
  @media screen and (min-width: 640px) {
    .colors-left {
      opacity: 1;
      width: 45%; } }
  .colors-left-line1 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-left-line1 i:nth-child(2) {
    width: 18%;
    background: #7BE473; }
  .colors-left-line1 i:nth-child(3) {
    width: 8%;
    background: #fff; }
    .info .colors-left-line1 i:nth-child(3) {
      background: #000; }
  .colors-left-line1 i:nth-child(4) {
    width: 6%;
    background: #58A9F3; }
  .colors-left-line2 i:nth-child(1) {
    width: 28%;
    background: #FF685C; }
  .colors-left-line2 i:nth-child(2) {
    width: 11%;
    background: #DA83F7; }
  .colors-left-line2 i:nth-child(3) {
    width: 8%;
    background: #7BE473; }
  .colors-left-line2 i:nth-child(4) {
    width: 13%;
    background: #FBC54C; }
  .colors-left-line3 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-left-line3 i:nth-child(2) {
    width: 8%;
    background: #58A9F3; }
  .colors-left-line3 i:nth-child(3) {
    width: 18%;
    background: #FBC54C; }
  .colors-left-line4 i:nth-child(1) {
    width: 28%;
    background: #DA83F7; }

.colors-right {
  right: -120px;
  text-align: center;
  display: none; }
  @media screen and (min-width: 640px) {
    .colors-right {
      display: block; } }
  .colors-right-line1 i:nth-child(1) {
    width: 6%;
    background: #58A9F3; }
  .colors-right-line1 i:nth-child(2) {
    width: 11%;
    background: #FBC54C; }
  .colors-right-line1 i:nth-child(3) {
    width: 8%;
    background: #DA83F7; }
  .colors-right-line1 i:nth-child(4) {
    width: 18%;
    background: #fff; }
  .colors-right-line2 i:nth-child(1) {
    width: 18%;
    background: #fff; }
  .colors-right-line2 i:nth-child(2) {
    width: 8%;
    background: #7BE473; }
  .colors-right-line2 i:nth-child(3) {
    width: 6%;
    background: #FF685C; }
  .colors-right-line2 i:nth-child(4) {
    width: 28%;
    background: #58A9F3; }
  .colors-right-line3 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-right-line3 i:nth-child(2) {
    width: 8%;
    background: #DA83F7; }
  .colors-right-line3 i:nth-child(3) {
    width: 13%;
    background: #fff; }
  .colors-right-line3 i:nth-child(4) {
    width: 18%;
    background: #7BE473; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

p {
  margin-bottom: 11px;
  color: #636363; }

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem; }

.section-group {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .section-group {
      padding-top: 6rem;
      padding-bottom: 6rem; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  .container > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }

.title {
  font: 300 2.3rem "Roboto Mono", monospace, serif;
  text-align: center;
  margin-bottom: 2rem; }
  @media screen and (min-width: 640px) {
    .title {
      margin-bottom: 6rem; } }

.button {
  padding: 1.3rem 2rem;
  display: inline-block; }

.menu-control {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.menu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu li {
    padding: 0 1rem; }
  .menu a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    -webkit-transition: color .35s ease-in;
    transition: color .35s ease-in;
    padding: 2rem 0;
    display: inline-block; }
    .menu a:hover, .menu a:focus {
      color: #fff; }
  .menu ~ section {
    -webkit-transition: all .35s ease-in;
    transition: all .35s ease-in; }

.menu-button {
  display: none; }

@media screen and (max-width: 767px) {
  .menu-control:checked ~ .menu ul {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  .menu-control:checked ~ .menu .menu-button {
    -webkit-transform: translate(-250px, 0);
            transform: translate(-250px, 0);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .menu-control:checked ~ .menu .menu-button .icon-menu {
      display: none; }
    .menu-control:checked ~ .menu .menu-button .icon-close-menu {
      display: block; }
  .menu-control:checked ~ .menu .menu-overlay {
    visibility: visible; }
  .menu-control:checked ~ section {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transition: all .45s ease;
    transition: all .45s ease; }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    background: transparent;
    width: 56px;
    height: 56px; }
    .menu ul {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      -webkit-transform: translate(100%, 0);
              transform: translate(100%, 0);
      -webkit-transition: all .25s ease-in;
      transition: all .25s ease-in;
      background: rgba(0, 0, 0, 0.9);
      width: 250px;
      will-change: transform;
      overflow: auto;
      padding: 10px 0;
      z-index: 2; }
      .menu ul li {
        margin: 0; }
      .menu ul a {
        word-wrap: normal;
        padding: 13px 20px;
        font-size: 18px;
        display: block;
        color: white; }
  .icon-close-menu {
    display: none; }
  .menu-button {
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: block;
    height: 56px;
    width: 56px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    padding: 17px; }
    .menu-button svg {
      fill: rgba(255, 255, 255, 0.9);
      width: 20px; }
  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1; } }

.event {
  max-width: 100%;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #636363;
  font-size: 1.3rem; }
  @media screen and (min-width: 1024px) {
    .event {
      padding: 12rem 0 10rem 0; } }
  .event > *:not(:last-child) {
    margin-bottom: 4rem; }
  .event p {
    color: #fff; }
    @media screen and (min-width: 640px) {
      .event p {
        color: #636363; } }
  .event a {
    background: #ff685c;
    color: #fff; }
  .event svg {
    width: 75%;
    height: auto;
    z-index: 2;
    position: relative; }

.info {
  background: #fff;
  color: #636363;
  position: relative; }
  .info a,
  .info h2 {
    color: #000; }
  .info .container {
    position: relative;
    z-index: 2; }
    .info .container > *:not(:last-child) {
      margin-bottom: 2rem; }
  .info .slogan {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media screen and (min-width: 640px) {
      .info .slogan {
        -ms-flex-negative: 40%;
            flex-shrink: 40%;
        max-width: 40%;
        padding-right: 2rem; } }
    .info .slogan h2 {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.5;
      font-family: "Roboto Mono", monospace, serif; }
  .info .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    font-size: .95rem; }
    @media screen and (min-width: 640px) {
      .info .description {
        -ms-flex-negative: 60%;
            flex-shrink: 60%;
        max-width: 60%; } }
    .info .description > *:not(:last-child) {
      margin-bottom: 2rem; }
    .info .description > *:last-child {
      margin-bottom: 0; }
    .info .description p {
      line-height: 1.8em; }
    .info .description svg {
      width: 1.1rem;
      height: 1.1rem;
      margin-right: .4rem;
      vertical-align: middle; }
    .info .description a {
      font-family: "Roboto Mono", monospace, serif;
      text-decoration: underline; }

.speaker-list {
  color: #fff;
  background: #121212;
  padding-bottom: 2rem; }
  .speaker-list .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .speaker-list .speaker-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem; }
    @media screen and (min-width: 640px) {
      .speaker-list .speaker-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        max-width: 25%;
        padding: 0 0.5rem;
        margin-bottom: 4rem; } }
    .speaker-list .speaker-item img {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      width: 30%;
      max-width: 100%; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item img {
          float: none;
          margin: 0 0 2rem;
          width: auto; } }
    .speaker-list .speaker-item figcaption {
      padding-left: 35%; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item figcaption {
          padding-left: 0; } }
    .speaker-list .speaker-item a {
      color: #32c6ef;
      display: block; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item a {
          margin-top: 1rem; } }
    .speaker-list .speaker-item p:first-child {
      color: inherit;
      font: 400 1.2rem "Roboto Mono", monospace, serif; }
    .speaker-list .speaker-item p:last-child {
      margin-bottom: 0; }

.schedule {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .schedule > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .schedule .schedule-timeline {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
    @media screen and (min-width: 640px) {
      .schedule .schedule-timeline {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
    .schedule .schedule-timeline::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: .5rem;
      background: #6C6C6C;
      left: 4rem; }
      @media screen and (min-width: 640px) {
        .schedule .schedule-timeline::before {
          left: 0; } }
  .schedule .timeline-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 6rem; }
    .schedule .timeline-block:not(:last-child) {
      margin-bottom: 4rem; }
  .schedule .timeline-circle {
    position: absolute;
    top: 0;
    left: 4rem;
    width: 1rem;
    height: 1rem;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    border-radius: 50%;
    box-shadow: 0 0 0 7px #D8D8D8, 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #6c6c6c; }
    @media screen and (min-width: 640px) {
      .schedule .timeline-circle {
        left: 0; } }
    .schedule .timeline-circle.movie {
      background: #c03b44; }
    .schedule .timeline-circle.location {
      background: #f0ca45; }
  .schedule .timeline-content {
    position: relative;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .schedule .timeline-content > *:not(:last-child) {
      margin-bottom: .4rem; }
    .schedule .timeline-content h3 {
      font-size: 1rem;
      padding: .5rem 0; }
    .schedule .timeline-content p:first-of-type {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      font-family: "Roboto Mono", monospace, serif; }
    .schedule .timeline-content p:last-of-type {
      margin-bottom: 0; }
    .schedule .timeline-content a {
      display: block;
      margin-top: 1rem;
      color: #fff; }

.local {
  color: #fff;
  background: url(../images/bg-local-mobile.png) no-repeat 0 0;
  background-size: cover; }
  @media screen and (min-width: 640px) {
    .local {
      background-image: url(../images/bg-local.png);
      background-attachment: fixed; } }
  .local .title {
    margin-bottom: 70px;
    font-family: 'Roboto Mono', monospace, serif;
    font-size: 40px;
    font-weight: 300; }
  .local .local-info {
    text-align: center; }
  .local h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .local p,
  .local a {
    color: inherit; }
  .local p {
    margin-bottom: 4rem; }
  .local a {
    display: inline-block;
    background: #da83f6; }

.sponsors {
  background: #fff;
  text-align: center; }
  .sponsors .subtitle {
    font: 300 1.4rem "Roboto Mono", monospace, serif;
    margin-bottom: 1.5rem; }

.contact {
  color: #fff;
  text-align: center; }
  .contact .container > *:not(h2):not(:last-child) {
    margin-bottom: 1.3rem; }
  .contact h3,
  .contact h4 {
    font: 400 1.4rem "Roboto Mono", monospace, serif; }
  .contact h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #636363; }
  .contact a[href*="mailto"] {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 18px;
    color: #32c6ef;
    text-decoration: underline; }
    .contact a[href*="mailto"]:hover, .contact a[href*="mailto"]:focus {
      text-decoration: none; }
  .contact p:first-of-type {
    font: 400 1.4rem "Roboto Mono", monospace, serif; }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contact li {
    padding: 0 1rem; }
  .contact .contact-links {
    border-top: 1px solid #636363;
    padding-top: 2rem;
    margin-top: 2rem; }
    .contact .contact-links a {
      color: #636363; }
      .contact .contact-links a:hover, .contact .contact-links a:focus {
        color: #fff; }

[aria-hidden="true"] {
  visibility: hidden;
  position: absolute; }
