.colors-left,
.colors-right {
  position: absolute;
  width: 45%;
  z-index: 1; }
  .colors-left i,
  .colors-right i {
    position: relative;
    display: inline-block;
    height: 29px;
    border-radius: 4rem;
    width: 6%;
    margin-left: 14px;
    margin-right: 14px; }
    @media screen and (min-width: 1024px) {
      .colors-left i,
      .colors-right i {
        min-width: 29px; } }
  .colors-left div,
  .colors-right div {
    margin-bottom: 25px; }
    .colors-left div:last-child,
    .colors-right div:last-child {
      margin-bottom: 0; }

.colors-left {
  text-align: left;
  left: -50px;
  opacity: .2;
  width: 120%; }
  .info .colors-left {
    top: 55%;
    z-index: 1; }
  @media screen and (min-width: 1024px) {
    .colors-left {
      opacity: 1;
      width: 45%; } }
  .colors-left-line1 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-left-line1 i:nth-child(2) {
    width: 18%;
    background: #7BE473; }
  .colors-left-line1 i:nth-child(3) {
    width: 8%;
    background: #fff; }
    .info .colors-left-line1 i:nth-child(3) {
      background: #000; }
  .colors-left-line1 i:nth-child(4) {
    width: 6%;
    background: #58A9F3; }
  .colors-left-line2 i:nth-child(1) {
    width: 28%;
    background: #FF685C; }
  .colors-left-line2 i:nth-child(2) {
    width: 11%;
    background: #DA83F7; }
  .colors-left-line2 i:nth-child(3) {
    width: 8%;
    background: #7BE473; }
  .colors-left-line2 i:nth-child(4) {
    width: 13%;
    background: #FBC54C; }
  .colors-left-line3 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-left-line3 i:nth-child(2) {
    width: 8%;
    background: #58A9F3; }
  .colors-left-line3 i:nth-child(3) {
    width: 18%;
    background: #FBC54C; }
  .colors-left-line4 i:nth-child(1) {
    width: 28%;
    background: #DA83F7; }

.colors-right {
  right: -120px;
  text-align: center;
  display: none; }
  @media screen and (min-width: 1024px) {
    .colors-right {
      display: block; } }
  .colors-right-line1 i:nth-child(1) {
    width: 6%;
    background: #58A9F3; }
  .colors-right-line1 i:nth-child(2) {
    width: 11%;
    background: #FBC54C; }
  .colors-right-line1 i:nth-child(3) {
    width: 8%;
    background: #DA83F7; }
  .colors-right-line1 i:nth-child(4) {
    width: 18%;
    background: #fff; }
  .colors-right-line2 i:nth-child(1) {
    width: 18%;
    background: #fff; }
  .colors-right-line2 i:nth-child(2) {
    width: 8%;
    background: #7BE473; }
  .colors-right-line2 i:nth-child(3) {
    width: 6%;
    background: #FF685C; }
  .colors-right-line2 i:nth-child(4) {
    width: 28%;
    background: #58A9F3; }
  .colors-right-line3 i:nth-child(1) {
    width: 11%;
    background: #FF685C; }
  .colors-right-line3 i:nth-child(2) {
    width: 8%;
    background: #DA83F7; }
  .colors-right-line3 i:nth-child(3) {
    width: 13%;
    background: #fff; }
  .colors-right-line3 i:nth-child(4) {
    width: 18%;
    background: #7BE473; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

p {
  margin-bottom: 11px;
  color: #636363; }

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace, serif; }

.heading-highlight {
  text-align: center;
  margin-bottom: 6rem; }

.heading-highlight {
  font-weight: 300;
  font-size: 2.3em;
  line-height: 1.5; }

.heading-large {
  font-weight: 300;
  font-size: 2.1em;
  line-height: 1.5; }

.heading-medium {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.5; }

.heading-small {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.5; }

.text-highlight {
  font-size: 1.4em; }

.text-large {
  font-size: 1.2em; }

.text-medium {
  font-size: 1em; }

.text-small {
  font-size: 0.8em; }

.section-group {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .section-group {
      padding-top: 6rem;
      padding-bottom: 6rem; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  .container > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }

.button {
  padding: 1.3rem 2rem;
  display: inline-block; }

a {
  color: #32c6ef; }

.menu-control {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: none; }

.menu {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu li {
    padding: 0 1rem; }
  .menu a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    transition: color .35s ease-in;
    padding: 2rem 0;
    display: inline-block; }
    .menu a:hover, .menu a:focus {
      color: #fff; }
  .menu ~ section {
    transition: all .35s ease-in;
    will-change: filter; }

.menu-button {
  display: none; }

@media screen and (max-width: 1023px) {
  .menu-control {
    display: block; }
  .menu-control:checked ~ .menu ul {
    transition: all .2s ease-out;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  .menu-control:checked ~ .menu .menu-button {
    -webkit-transform: translate(-250px, 0);
            transform: translate(-250px, 0);
    transition: all .2s ease-out; }
    .menu-control:checked ~ .menu .menu-button .icon-menu {
      display: none; }
    .menu-control:checked ~ .menu .menu-button .icon-close-menu {
      display: block; }
  .menu-control:checked ~ .menu .menu-overlay {
    visibility: visible; }
  .menu-control:checked ~ section {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    transition: all .45s ease; }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    background: transparent;
    width: 56px;
    height: 56px; }
    .menu ul {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      -webkit-transform: translate(100%, 0);
              transform: translate(100%, 0);
      transition: all .25s ease-in;
      background: rgba(0, 0, 0, 0.9);
      width: 250px;
      will-change: transform;
      overflow: auto;
      padding: 10px 0;
      z-index: 2; }
      .menu ul li {
        margin: 0; }
      .menu ul a {
        word-wrap: normal;
        padding: 13px 20px;
        font-size: 18px;
        display: block;
        color: white; }
  .icon-close-menu {
    display: none; }
  .menu-button {
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: block;
    height: 56px;
    width: 56px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    transition: all .25s ease-in;
    padding: 17px; }
    .menu-button svg {
      fill: rgba(255, 255, 255, 0.9);
      width: 20px; }
  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease-in;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1; } }

.btn-size,
.btn-invert {
  background: none;
  border: none;
  position: absolute;
  display: none;
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .btn-size,
    .btn-invert {
      display: block; } }
  .btn-size svg,
  .btn-invert svg {
    height: 20px;
    width: 30px; }

.btn-size {
  right: 4%;
  width: 40px; }
  .btn-size:nth-child(1) {
    top: 33px; }
    .btn-size:nth-child(1) svg {
      height: 15px;
      width: 24px; }
  .btn-size:nth-child(2) {
    top: 29px;
    right: 73px; }

.btn-invert {
  right: calc(5% - 50px);
  top: 30px; }

.event {
  max-width: 100%;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #636363;
  font-size: 1.3rem; }
  @media screen and (min-width: 1024px) {
    .event {
      padding: 12rem 0 10rem 0; } }
  .event > *:not(:last-child) {
    margin-bottom: 4rem; }
  .event p {
    color: #fff; }
    @media screen and (min-width: 640px) {
      .event p {
        color: #636363; } }
  .event a {
    background: #ff685c;
    color: #fff; }
  .event .logo span {
    display: block;
    text-indent: -99999px; }
  .event svg {
    width: 75%;
    height: auto;
    z-index: 2;
    position: relative; }

.info {
  background: #fff;
  color: #636363;
  position: relative; }
  .info a,
  .info h2 {
    color: #000; }
  .info .container {
    z-index: 2; }
    .info .container > *:not(:last-child) {
      margin-bottom: 2rem; }
  .info .slogan {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media screen and (min-width: 640px) {
      .info .slogan {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
        max-width: 40%;
        padding-right: 2rem; } }
  .info .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media screen and (min-width: 640px) {
      .info .description {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 60%;
                flex: 0 0 60%;
        max-width: 60%; } }
    .info .description > *:not(:last-child) {
      margin-bottom: 2rem; }
    .info .description > *:last-child {
      margin-bottom: 0; }
    .info .description p {
      line-height: 1.8em; }
    .info .description svg {
      width: 1.1rem;
      height: 1.1rem;
      margin-right: .4rem;
      vertical-align: middle; }
    .info .description a {
      font-family: "Roboto Mono", monospace, serif;
      text-decoration: underline; }
  .info .description,
  .info .slogan {
    position: relative;
    z-index: 2; }
  .info .info-previous li {
    display: inline-block;
    padding-right: 0.75rem; }

.speaker-list {
  color: #fff;
  background: #121212;
  padding-bottom: 2rem; }
  .speaker-list .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .speaker-list .speaker-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem; }
    @media screen and (min-width: 640px) {
      .speaker-list .speaker-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        max-width: 25%;
        padding: 0 0.5rem;
        margin-bottom: 4rem; } }
    .speaker-list .speaker-item img {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      width: 30%;
      max-width: 100%; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item img {
          float: none;
          margin: 0 0 2rem;
          width: auto; } }
    .speaker-list .speaker-item figcaption {
      padding-left: 35%; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item figcaption {
          padding-left: 0; } }
    .speaker-list .speaker-item a {
      display: block; }
      @media screen and (min-width: 640px) {
        .speaker-list .speaker-item a {
          margin-top: 1rem; } }
    .speaker-list .speaker-item p:first-child {
      color: inherit;
      font-family: "Roboto Mono", monospace, serif;
      font-weight: 400; }
    .speaker-list .speaker-item p:last-child {
      margin-bottom: 0; }

.schedule {
  color: #fff;
  position: relative;
  padding-bottom: 10em; }
  @media screen and (min-width: 640px) {
    .schedule {
      padding-bottom: 8rem; } }
  .schedule .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .schedule .container > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
  .schedule .schedule-timeline {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .schedule .schedule-timeline::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: .5rem;
      background: #6C6C6C;
      left: 2rem; }
      @media screen and (min-width: 640px) {
        .schedule .schedule-timeline::before {
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); } }
  .schedule .timeline-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 5.5rem; }
    .schedule .timeline-block:not(:last-child) {
      margin-bottom: 4rem; }
    .schedule .timeline-block.current::before {
      box-shadow: 0 0 0 7px #ff685c, 0 3px 0 4px rgba(0, 0, 0, 0.05);
      background: #fff;
      transition: box-shadow .5s ease-in; }
    .schedule .timeline-block::before {
      content: '';
      position: absolute;
      top: 0;
      left: 2rem;
      width: 1rem;
      height: 1rem;
      -webkit-transform: translateX(-25%);
              transform: translateX(-25%);
      border-radius: 50%;
      box-shadow: 0 0 0 7px #D8D8D8, 0 3px 0 4px rgba(0, 0, 0, 0.05);
      background: #636363;
      transition: box-shadow .5s ease-in;
      will-change: box-shadow; }
    @media screen and (min-width: 640px) {
      .schedule .timeline-block:nth-child(odd) {
        padding-left: 0;
        padding-right: calc(50% + 4rem);
        text-align: right; }
        .schedule .timeline-block:nth-child(odd)::before {
          left: initial;
          right: 50%;
          -webkit-transform: translateX(0.5rem);
                  transform: translateX(0.5rem); }
      .schedule .timeline-block:nth-child(even) {
        padding-left: calc(50% + 4rem);
        text-align: left; }
        .schedule .timeline-block:nth-child(even)::before {
          left: 50%;
          -webkit-transform: translateX(-0.5rem);
                  transform: translateX(-0.5rem); } }
  .schedule .timeline-circle {
    display: none;
    position: absolute;
    top: 0;
    left: 2rem;
    width: 1rem;
    height: 1rem;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    border-radius: 50%;
    box-shadow: 0 0 0 7px #D8D8D8, 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #6c6c6c; }
    @media screen and (min-width: 640px) {
      .schedule .timeline-circle {
        left: 0; } }
    .schedule .timeline-circle.movie {
      background: #c03b44; }
    .schedule .timeline-circle.location {
      background: #f0ca45; }
  .schedule .timeline-content {
    position: relative;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .schedule .timeline-content > *:not(:last-child) {
      margin-bottom: .4rem; }
    .schedule .timeline-content h3 {
      padding: .5rem 0; }
    .schedule .timeline-content p:first-of-type {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      font-family: "Roboto Mono", monospace, serif; }
    .schedule .timeline-content p:last-of-type {
      margin-bottom: 0; }
    .schedule .timeline-content a {
      display: block;
      margin-top: 1rem;
      color: #fff; }
  .schedule .timeline-speaker {
    color: #32c6ef; }
  .schedule .details,
  .schedule .call4paper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 80%; }
  .schedule .details {
    bottom: 70px; }
  .schedule .call4paper {
    bottom: 30px; }

.local {
  position: relative;
  color: #fff; }
  .local:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-local-mobile.jpg) no-repeat 0 0;
    background-size: cover;
    opacity: .4; }
    @media screen and (min-width: 640px) {
      .local:before {
        background-image: url(../images/bg-local.png);
        background-attachment: fixed; } }
  .local .container {
    position: relative;
    z-index: 2; }
  .local .local-info {
    text-align: center; }
  .local h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .local p,
  .local a {
    color: inherit; }
  .local p {
    margin-bottom: 4rem; }
  .local a {
    display: inline-block;
    background: #da83f6; }

.sponsors {
  background: #fff;
  text-align: center; }
  .sponsors h3 {
    margin-bottom: 1.5rem; }

.sponsor-item {
  margin-bottom: 4rem;
  display: inline-block; }

.sponsors-group-support ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sponsors-group-support ul li {
    padding: 1rem; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 640px) {
    .list-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: inherit;
              flex-direction: inherit; } }

.contact {
  color: #fff;
  text-align: center;
  padding-bottom: 0; }
  .contact .container > *:not(h2):not(:last-child) {
    margin-bottom: 1.3rem; }
  .contact h4 {
    font-weight: 500;
    color: #636363; }
  .contact a[href*="mailto"] {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 18px;
    text-decoration: underline; }
    .contact a[href*="mailto"]:hover, .contact a[href*="mailto"]:focus {
      text-decoration: none; }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contact li {
    padding: 0 1rem; }
  .contact .contact-links {
    border-top: 1px solid #636363;
    padding: 1.5rem 1rem;
    margin-top: 6rem; }
    .contact .contact-links a {
      color: #636363; }
      .contact .contact-links a:hover, .contact .contact-links a:focus {
        color: #fff; }

.staff {
  background: #fff;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 640px) {
    .staff:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .05;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      background: url(../images/bg-frontinsampa.jpg) no-repeat fixed;
      background-size: cover; } }
  .staff .container {
    position: relative;
    z-index: 2; }

.staff-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0; }
  .staff-list li {
    margin: 0 1rem 1rem;
    width: 100px; }
    @media screen and (min-width: 640px) {
      .staff-list li {
        margin: 0 1rem;
        width: 150px; } }
  .staff-list img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%; }
  .staff-list .text-info {
    display: block;
    margin-bottom: 5px; }
  .staff-list a {
    color: #000; }

[aria-hidden="true"] {
  visibility: hidden;
  position: absolute; }

.invert-color p, .invert-color a {
  color: #fff; }

.invert-color img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.invert-color .info {
  background: transparent;
  color: #fff; }
  .invert-color .info .slogan h2,
  .invert-color .info a {
    color: #fff; }

.invert-color .event .button,
.invert-color .local .button {
  background: #fff;
  color: #000; }

.invert-color .schedule .schedule-timeline::before {
  background: #fff; }

.invert-color .schedule .timeline-circle {
  background: #000; }

.invert-color .local {
  background-image: none; }

.invert-color .staff-list a {
  color: #000; }

.invert-color .contact h4 {
  color: #fff; }

.invert-color .contact .contact-links {
  border-color: #fff; }
  .invert-color .contact .contact-links a {
    color: #fff; }

.invert-color .colors-left i,
.invert-color .colors-right i {
  background: #fff; }

.invert-color .timeline-block.current::before {
  box-shadow: 0 0 0 7px #fff, 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.invert-color .timeline-speaker {
  color: #fff; }
