.colors-left {
  position: absolute;
  left: -50px;
  text-align: left; }
  .colors-left div {
    margin-bottom: 25px; }
    .colors-left div:last-child {
      margin-bottom: 0; }
  .colors-left i {
    position: relative;
    display: inline-block;
    height: 29px;
    border-radius: 4rem;
    width: 29px;
    margin-left: 14px;
    margin-right: 14px; }
  .colors-left-line1 i:nth-child(1) {
    width: 51px;
    background: #FF685C; }
  .colors-left-line1 i:nth-child(2) {
    width: 118px;
    background: #7BE473; }
  .colors-left-line1 i:nth-child(3) {
    width: 39px;
    background: #fff; }
  .colors-left-line1 i:nth-child(4) {
    width: 29px;
    background: #58A9F3; }
  .colors-left-line2 i:nth-child(1) {
    width: 211px;
    background: #FF685C; }
  .colors-left-line2 i:nth-child(2) {
    width: 50px;
    background: #DA83F7; }
  .colors-left-line2 i:nth-child(3) {
    width: 39px;
    background: #7BE473; }
  .colors-left-line2 i:nth-child(4) {
    width: 73px;
    background: #FBC54C; }
  .colors-left-line3 i:nth-child(1) {
    width: 50px;
    background: #FF685C; }
  .colors-left-line3 i:nth-child(2) {
    width: 39px;
    background: #58A9F3; }
  .colors-left-line3 i:nth-child(3) {
    width: 119px;
    background: #FBC54C; }
  .colors-left-line4 i:nth-child(1) {
    width: 211px;
    background: #DA83F7; }

.colors-right {
  position: absolute;
  right: -120px;
  text-align: center; }
  .colors-right div {
    margin-bottom: 25px; }
    .colors-right div:last-child {
      margin-bottom: 0; }
  .colors-right i {
    position: relative;
    display: inline-block;
    height: 29px;
    border-radius: 4rem;
    width: 29px;
    margin-left: 14px;
    margin-right: 14px; }
  .colors-right-line1 i:nth-child(1) {
    width: 29px;
    background: #58A9F3; }
  .colors-right-line1 i:nth-child(2) {
    width: 50px;
    background: #FBC54C; }
  .colors-right-line1 i:nth-child(3) {
    width: 39px;
    background: #DA83F7; }
  .colors-right-line1 i:nth-child(4) {
    width: 119px;
    background: #fff; }
  .colors-right-line2 i:nth-child(1) {
    width: 119px;
    background: #fff; }
  .colors-right-line2 i:nth-child(2) {
    width: 39px;
    background: #7BE473; }
  .colors-right-line2 i:nth-child(3) {
    width: 29px;
    background: #FF685C; }
  .colors-right-line2 i:nth-child(4) {
    width: 212px;
    background: #58A9F3; }
  .colors-right-line3 i:nth-child(1) {
    width: 50px;
    background: #FF685C; }
  .colors-right-line3 i:nth-child(2) {
    width: 39px;
    background: #DA83F7; }
  .colors-right-line3 i:nth-child(3) {
    width: 73px;
    background: #fff; }
  .colors-right-line3 i:nth-child(4) {
    width: 119px;
    background: #7BE473; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

p {
  margin-bottom: 11px;
  color: #636363; }

body {
  background: #000;
  font-family: 'Roboto', sans-serif; }

.container {
  margin: 0 auto;
  width: 980px; }

.title {
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace, serif;
  font-size: 40px; }

.menu {
  background: black;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu li {
    margin: 40px 20px 0; }
  .menu a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: color .35s ease-in;
    transition: color .35s ease-in; }
    .menu a:hover, .menu a:focus {
      color: #fff; }

.event {
  margin-top: 260px;
  text-align: center;
  color: #636363; }
  .event p {
    margin: 55px 0; }

.btn {
  background: #ff685c;
  padding: 20px 40px;
  margin-top: 25px;
  color: #fff;
  display: inline-block; }

.info {
  background: #fff;
  padding: 115px 0;
  margin-top: 135px; }
  .info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .info .slogan {
    width: 45%; }
    .info .slogan h2 {
      width: 240px;
      font-size: 28px;
      font-weight: 300;
      line-height: 1.5;
      font-family: 'Roboto Mono', monospace, serif; }
  .info .description {
    width: 500px; }
    .info .description p {
      margin-bottom: 30px;
      color: #818181;
      line-height: 1.8em; }
    .info .description a {
      color: #000;
      text-decoration: underline;
      font-family: 'Roboto Mono', monospace, serif; }
      .info .description a:before {
        content: '';
        background-image: url("../images/camera-icon.svg");
        background-repeat: no-repeat;
        height: 19px;
        width: 28px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle; }
      .info .description a:hover, .info .description a:focus {
        text-decoration: none; }

.speaker-list {
  background: #121212;
  padding: 50px 0; }
  .speaker-list .title {
    text-align: center;
    margin: 40px 0 130px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace, serif;
    font-weight: 300; }
  .speaker-list .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .speaker-list .speaker-item {
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    margin-bottom: 100px; }
    .speaker-list .speaker-item img {
      max-width: 100%; }
    .speaker-list .speaker-item figcaption {
      margin-top: 20px; }
  .speaker-list .name {
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace, serif; }
  .speaker-list .bio {
    margin: 12px 0;
    font-size: 14px; }
  .speaker-list .social {
    color: #32c6ef; }

.schedule {
  padding: 90px 0 170px; }
  .schedule .title {
    text-align: center; }

.local {
  padding: 90px 0 170px;
  text-align: center;
  color: #fff; }
  .local .title {
    margin-bottom: 70px;
    font-family: 'Roboto Mono', monospace, serif;
    font-size: 40px;
    font-weight: 300; }
  .local .subtitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 35px; }
  .local p {
    margin-bottom: 50px;
    color: #fff; }
  .local .btn {
    background: #da83f6; }

.sponsors {
  background: #fff;
  padding: 100px 0; }
  .sponsors .title {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-family: 'Roboto Mono', monospace, serif;
    font-weight: 300;
    font-size: 40px; }

.contact {
  text-align: center;
  padding: 70px 0; }

@media screen and (max-width: 767px) {
  .event {
    margin-top: 100px; } }
