.section-group
  padding-top: $section-padding
  padding-bottom: $section-padding

.container
  display: flex
  flex-flow: row wrap
  max-width: $large
  margin: 0 auto
  padding-left: $gutter
  padding-right: $gutter

  & > *
    flex: 0 0 100%
    max-width: 100%

.title
  font: 300 2.3rem $font
  text-align: center
  margin-bottom: $margin * 3

.button
  padding: 1.3rem 2rem
  display: inline-block
