.sponsors
  background: $white
  text-align: center

  h3
    margin-bottom: ($heading-margin / 4)

.sponsor-item
  margin-bottom: $margin*2
  display: inline-block

.staff-list
  display: flex
  justify-content: center
  margin: $margin 0

  li
    margin: 0 $gutter
    width: 90px

    @media screen and (min-width: $medium)
      width: 150px

  img
    display: block
    margin-bottom: 10px
    max-width: 100%

  .text-info
    display: block
    margin-bottom: 5px

  a
    color: $black


