$black: #000
$white: #fff
$gray: #636363
$gray-dark: #121212
$red: #ff685c
$blue: #32c6ef
$pink: #da83f6

$medium: 640px
$large: 1024px
$gutter: 2rem
$margin: 2rem
$section-padding: 6rem
$font: 'Roboto Mono', monospace, serif

$heading-highlight: 2.3rem
$heading-large: 1.4rem
$heading-medium: 1.2rem
